$colorprimary : #e27026;
$colorsecond : #ffff;
$colortext : #000;
$border-color :  rgba(88, 88, 88, 0.158);

$fontJudul : 42px;
$fontSub : 23px;

$width3 : 33.3%;
$height : 400px;

$box-shadow : 5px 10px 19px #888888;